.floating-buttons {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.floating-button {
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #bfb2ac;
  color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #d1c5bf;
  }

  &:active {
    background-color: #a89c97;
  }
}
