.testimonial-container {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: auto;
    flex-direction: column;
  }
}

.testimonial-banner {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  @media (max-width: 768px) {
    height: auto;
    padding: 24px 0;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
  }
}
.testimonial-banner p {
  line-height: 1.5;
  padding-top: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.testimonial-content {
  flex-grow: 0;
  flex-shrink: 0;
  width: 60%;
  height: calc(100vh - 100px);
  @media (max-width: 768px) {
    overflow: hidden;
    width: 100%;
    height: calc(50vh + 4px);
    border-bottom: 4px solid #fff;
  }
}

.testimonial-item {
  height: calc(50vh - 50px);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  @media (max-width: 768px) {
    width: 100%;
    height: calc(50vh);
  }
}
.slide_0 {
  background-image: url('/images/slide_3.jpeg');
}
.slide_1 {
  background-image: url('/images/slide_2.jpeg');
}
.slide_2 {
  background-image: url('/images/slide_4.jpeg');
}
.slide_3 {
  background-image: url('/images/slide_1.jpeg');
}
.slide_4 {
  background-image: url('/images/slide_3.jpeg');
}
.slide_5 {
  background-image: url('/images/slide_2.jpeg');
}
.slide_6 {
  background-image: url('/images/slide_4.jpeg');
}
.slide_7 {
  background-image: url('/images/slide_1.jpeg');
}

.testimonial-item :paused {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  outline: 1px solid blue;
}

.testimonial-arrow-next {
  cursor: pointer;
  width: 50px;
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.testimonial-arrow-next:hover {
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.testimonial-arrow-next:active {
  background: rgba(0, 0, 0, 0.3);
}
.testimonial-arrow-prev {
  width: 50px;
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 50px 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.testimonial-arrow-prev:hover {
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.testimonial-arrow-prev:active {
  background: rgba(0, 0, 0, 0.3);
}
